*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,body{
    height:100%;
    width:100%;
}

.box1{
    height: 100px;
    width: 100px;
    background: gold;
}
.box2{
    height: 100px;
    width: 100px;
    background: rgb(14, 149, 203);
}
.box3{
    height: 100px;
    width: 100px;
    background: rgb(244, 100, 10);
}